@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .add-button{
    @apply rounded-md p-2;
    background-color:#09265c;
    color:white;
    width: fit-content
  }
  .text-field{
    border:1px solid #3a3a3a;
    border-radius:4px;
    width:400px;
    padding-left:5px;
  }
  .label-text {
    margin-right:18px;
    font-size:24px;
  }
}
:root{
  color:#3a3a3a;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

input {
  color: black;
}

select {
  color: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
